<html>
<body bgcolor="#faf0e6">

<table align="center">

    <tr><th><br><h1 style="color: crimson"> Qualification </h1></th></tr>
    <tr>
        <th>
            <table>
                <br><br>

<tr>

<td align="center"><b>Qualification</b></td>
<td align="center"><b>College/Institutes </b></td>
<td align="center"><b>Board/ University </b></td>
<td align="center"><b>Year </b></td>
<td align="center"><b>Aggregate  </b></td>
</tr>

<tr>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
 <td><input type="text" name="" maxlength="30" /></td>
</tr>

<tr>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
 <td><input type="text" name="" maxlength="30" /></td>
</tr>

<tr>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
 <td><input type="text" name="" maxlength="30" /></td>
</tr>

<tr>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
<td><input type="text" name="" maxlength="30" /></td>
 <td><input type="text" name="" maxlength="30" /></td>
</tr>


</table>

        </th>
    </tr>
    <tr><th><h2 style="color: crimson">Achievements</h2></th></tr>
    <tr><th>
                <div class="form-group">
                        <label for="exampleFormControlTextarea1">1.</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
    </th></tr>

</table>


</body>


</html>


{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#<html><head><title>Mohanaraman's Slam Book</title>#}
{##}
{#<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">#}
{#<link rel="StyleSheet" href="mohan_files/form.css" title="Adi Style Sheet">#}
{#<link rel="SHORTCUT ICON" href="http://www.adilive.in/myslam/img/icon.jpg"></head><body>#}
{#<div align="center">#}
{#  <h1>My Slam Book</h1>#}
{# Mohanaraman N<hr></div><br>#}
{#<form action="mailto.php" name="form" method="post">#}
{#  <table style="border-collapse: collapse;" align="center" bordercolor="#111111" cellpadding="3" height="2345" width="80%">#}
{#  <tbody><tr><td align="center" height="39"><h3>Write About URSELF</h3></td></tr>#}
{#<tr><td height="22" width="941"> <label>Ur Actual name: </label>#}
{#<input size="37" name="to" value="nmohanaraman@gmail.com" type="hidden">#}
{#   <input size="37" name="q1"></td></tr>#}
{#<tr><td height="22" width="941"><label>Ur 'sweet' name: </label>#}
{#<input size="37" name="q2"></td></tr>#}
{#  <tr><td height="22" width="941"><label>Ur 'hot' name: </label>#}
{#  <input size="37" name="q3"></td></tr>#}
{#  <tr><td height="22" width="941"><label>The date U landed: </label>#}
{#  <input size="37" name="q4" value="(dd/mm/yyyy)"></td></tr>#}
{#  <tr><td height="22" width="941"><p align="left"><label>I can hear Ur 'hello' on: </label>#}
{#   <input size="37" name="q5" value="(Both landline &amp; Mobile)"></p></td></tr>#}
{#  <tr><td height="22" width="941"><label>I can mail U @: </label><input size="37" name="q6"></td></tr>#}
{#  <tr><td height="114" width="941"><label>'Postman' can help me @: </label>#}
{#  <textarea name="q7" rows="7" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Hobby Lobby: </label>#}
{#  <textarea name="q8" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>U laugh when: </label>#}
{#  <textarea name="q9" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Given a chance 2 B invisible: </label>#}
{#  <textarea name="q10" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>What do u think of Urself: </label>#}
{#  <textarea name="q11" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>A 'friend' in U r life is: </label>#}
{#  <textarea name="q12" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>'love' in Ur life is: </label>#}
{#  <textarea name="q13" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Someone who loved you<br>or you loved </label>#}
{#  <textarea name="q14" rows="3" cols="28">Other than your family and friends</textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>friend U boast of: </label>#}
{#  <textarea name="q15" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>U r favorite place: </label>#}
{#  <textarea name="q16" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Urs best sport: </label>#}
{#  <textarea name="q17" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Urs favorite costume: </label>#}
{#  <textarea name="q18" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Turning point in Ur life: </label>#}
{#  <textarea name="q19" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="48" width="941"><label>U r dream partner model: </label>#}
{#  <textarea style="border: 0pt none;" rows="3" name="q20" cols="28"></textarea><br></td></tr><tr>#}
{#  <td height="50" width="941"><label>Hero in Ur life:#}
{#</label>#}
{#  <textarea name="q21" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Villain in Ur life: </label>#}
{#  <textarea name="q22" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Urs greatest achievement: </label>#}
{#  <textarea name="q23" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Urs most embarrassing moment: </label>#}
{#  <textarea name="q24" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Ur ambition: </label>#}
{#  <textarea name="q25" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Ur mission (I'm possible): </label>#}
{#  <textarea name="q26" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Cinema that makes u celebrate: </label>#}
{#  <textarea name="q27" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Actor U like most: </label>#}
{#  <textarea name="q42" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Actress U like most: </label>#}
{#  <textarea name="q28" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Songs that swings U: </label>#}
{#  <textarea name="q29" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Drink that makes U shrink: </label>#}
{#  <textarea name="q30" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Dilkush dish: </label>#}
{#  <textarea name="q31" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Phrase that chases U: </label>#}
{#  <textarea name="q32" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td align="center" height="78"><br><h3>Write About ME</h3></td></tr>#}
{#<tr><td height="50" width="941">#}
{#  <label>Ours first meeting<br>- Ur reaction:</label><textarea name="q33" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941">  <label>Did I ever hurt U? <br>#}
{#	How do u want me to change:</label><textarea name="q34" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>Was my dealing with U O.K ?</label><textarea name="q35" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>I'm good at:</label><textarea name="q36" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>I'm poor in:</label><textarea name="q37" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="44" width="941"><label>How do u expect me<br>to be after 10 years:</label><textarea name="q38" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>U r final words<br>from ur heart to me:</label><textarea name="q39" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="50" width="941"><label>How can I B<br>in touch with U:</label><textarea name="q40" rows="3" cols="28"></textarea></td></tr>#}
{#  <tr><td height="26" width="941"><p class="submit"><input value="Send to me" type="submit"> </p></td></tr>#}
{#</tbody></table>#}
{#</form>#}
